#header{
    grid-area: header;
}
#nav{
    grid-area: nav;
}
#secao{
    grid-area: secao;
}
#livro{
    grid-area: livro;
}
#menuPagina{
    grid-area: menuPagina;
}
#footer{
    grid-area: footer;
}
@media (min-width: 700px){
    #wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'nav'
        'secao'
        'livro'
        'menuPagina'
        'footer';
    }
    #nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #opcoes{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 900px){
    #wrapper{
        grid-template-columns: auto;
        grid-template-areas: 
        'header'
        'nav'
        'secao'
        'livro'
        'menuPagina'
        'footer';
    }
    #nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #opcoes{
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }
}